/* CSS declarations go here */

.active {
	color: #66CDAA;
}
.tabs-color-positive .tab-item.tab-item-active {
	color: #66CDAA;
	opacity: 1;
}

.tabs-color-positive .tab-item {
	color: #777777;
	opacity: .5;

}

.inactive {
	color: #777777;

}