/* CSS declarations go here */

* {
    background-color: #040d14 !important;
    border-color: rgba(51, 205, 95, 0.4) !important;
}

.item,
.item h2 {
    color: #586468 !important;
}

.bar.bar-dark .title {
    color: #33CD46;
}

.toggle .track {
    background-color: #33cd5f !important;
}

.toggle input:checked + .track .handle {
    background-color: #33cd5f !important;
    border: 1px solid #040d14;
}

.icon {
    color: #33cd5f !important;
}

input {
    color: #586468 !important;
}


.item-icon-right .icon-accessory {
	padding: 10px;
}


.bar .title {
	color: #33cd5f;
}

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
	color: #33cd5f;
}

.card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
	padding-top: 30px;
}


