<ion-view view-title="Stocks">
    <ion-content>
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
            <ion-item class="item" type="item-text-wrap" href="#">Placeholder
            </ion-item>
            <ion-item ng-repeat="stock in stocks.nasdaq" class="item" type="item-text-wrap" href="#">
                <p>{{ stock.Symbol }}</p>
                <p>{{ stock.Name }}</p>
                <p>{{ stock.sector }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <!-- <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
            <div class="item item-divider">
                NYSE
            </div>
			
			
            <a class="item" href="#">
    Stock Example

  </a>
            <a class="item" href="#">
    Stock Example
  </a>
            <a class="item" href="#">
    Stock Example
  </a>
            <a class="item" href="#">
    Stock Example
  </a>
            <a class="item" href="#">
    Stock Example
  </a>
            <div class="item item-divider">
                NASDAQ
            </div>
            <ion-item
            ng-repeat="item in nasdaqs.data"
            class="item"
            type="item-text-wrap"
            href="#">
            <p>{{item.Symbol}}, {{item.Name}}, {{item.sector}}</p>
 			</ion-item>

            <div class="item item-divider">
                AMEX
            </div>
            <a class="item" href="#">
    Stock Example
  </a>
            <a class="item" href="#">
    Stock Example
  </a>
            <a class="item" href="#">
    Stock Example
  </a>
            <a class="item" href="#">
    Stock Example
  </a>
            <a class="item" href="#">
    Stock Example
  </a>
        </div>
    </ion-content> -->
</ion-view>
