<ion-view view-title="Stocks">
    <ion-content>
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
              <ion-item class="item item-icon-right" type="item-text-wrap"
              href="#/tab/stocks/nasdaq">
                
                <p>NASDAQ</p><i class="icon ion-chevron-right icon-accessory"></i>
                
            </ion-item>
            <ion-item class="item item-icon-right" type="item-text-wrap"
              href="#/tab/stocks/sp">
                
                <p>S&P 500</p><i class="icon ion-chevron-right icon-accessory"></i>
                
            </ion-item>
            <ion-item class="item item-icon-right" type="item-text-wrap"
              href="#/tab/stocks/nyse">
                
                <p>NYSE</p><i class="icon ion-chevron-right icon-accessory"></i>
                
            </ion-item>
            <ion-item class="item item-icon-right" type="item-text-wrap"
              href="#/tab/stocks/amex">
                
                <p>AMEX</p><i class="icon ion-chevron-right icon-accessory"></i>
                
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
