<ion-view view-title="Watch list">
    <ion-content>
        <ion-list>
            <ion-item type="item-text-wrap"  href="#">
                <h2>Stock Name</h2>
                <i class="icon ion-information-circled icon-accessory"></i>
                <ion-option-button class="button-assertive">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item type="item-text-wrap" href="#">
                <h2>Stock Name</h2>
                <i class="icon ion-information-circled icon-accessory"></i>
                <ion-option-button class="button-assertive">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item type="item-text-wrap" href="#">
                <h2>Stock Name</h2>
                <i class="icon ion-information-circled icon-accessory"></i>
                <ion-option-button class="button-assertive">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item type="item-text-wrap" href="#">
                <h2>Stock Name</h2>
                <i class="icon ion-information-circled icon-accessory"></i>
                <ion-option-button class="button-assertive">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item type="item-text-wrap" href="#">
                <h2>Stock Name</h2>
                <i class="icon ion-information-circled icon-accessory"></i>
                <ion-option-button class="button-assertive">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
